---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="container mx-auto flex justify-between items-center">
    <h2><a href="/blog">{SITE_TITLE}</a></h2>
    <div>
      <HeaderLink href="/blog/">Home</HeaderLink>
      <HeaderLink href="/blog/content">Content</HeaderLink>
    </div>
  </nav>
</header>
